.product-card {
  width: 250px;
  border: 1px solid lightgray;
  border-radius: 10px;
  padding: 20px;
  margin: 20px;
  text-align: center;
  transition: 0.3s;
}

.product-card:hover {
  transform: translateY(-5px);
  box-shadow: 0px 5px 15px rgba(0,0,0,0.2);
}

.product-card h2 {
  margin-bottom: 10px;
}

.rating {
  color: orange;
  margin-bottom: 15px;
}

.quantity-box {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.quantity-box button {
  width: 40px;
  height: 40px;
  border: none;
  background: #ff9900;
  color: white;
  font-size: 22px;
  border-radius: 50%;
  cursor: pointer;
}

.quantity-box span {
  font-size: 20px;
  font-weight: bold;
}